.my-item {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.new-header {
    display: flex;
    align-items: center;
    border-bottom: solid;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    border-bottom-width: 1px;
    height: 12%;
    padding-left: 2%;
    padding-right: 2%;
}

.one {
    width: 33%;
}

.two {
    display: flex;
    justify-content: center;
    width: 33%;
    height: 100%;
    align-items: center;
}

.three {
    display: flex;
    justify-content: flex-end;
    width: 33%;
    height: 100%;
    align-items: center;
}

.new-needly {
    font-size: 65px;
    font-style: regular;
    font-weight: 400;
    background: linear-gradient(to bottom, #FD6262 43%, #1961E8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.items {
    height: 100%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 280px);
    justify-content: center;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 4%;
}

.values {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: center;
}


#button-value {
    width: 200px;
    background: white;
    height: 135px;
    border-right: none;
    padding: 0;
    margin: 0;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    border-bottom-width: 1px;
    font-size: 25px;
    border-top: none;
    
}

#button-value:hover {
    background-color: rgb(221, 221, 221);
    cursor: pointer;
    height: 137px;
    font-size: 26px;
}

.user-item-name {
    font-weight: 100;
    font-size: 25px;
}

.add-item {
    background: rgba(0, 188, 28, 0.7);
    border: none;
    padding: 0;
    margin: 0;
    color: white;
    font-size: 14px;
    height: 42px;
    width: 120px; 
    border-radius: 5px;
}

.add-item:hover {
    background: rgba(0, 188, 28, 0.9);
    cursor: pointer;
}

.body{
    padding: 0;
    width: 100%;
    display: flex;
    height: 88%;
}

.loading {
    display: flex;
    width: 79%;
    height: 88%;
  text-align: center;
  font-size: 18px;
  padding: 30px;
  color: #555;
  justify-content: center;
}

