.my-inventory {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.new-header {
    display: flex;
    align-items: center;
    border-bottom: solid;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    border-bottom-width: 1px;
    height: 12%;
    padding-left: 2%;
    padding-right: 2%;
}

.one {
    width: 33%;
}

.two {
    display: flex;
    justify-content: center;
    width: 33%;
    height: 100%;
    align-items: center;
}

.three {
    display: flex;
    justify-content: flex-end;
    width: 33%;
    height: 100%;
    align-items: center;
}

.new-needly {
    font-size: 65px;
    font-style: regular;
    font-weight: 400;
    background: linear-gradient(to bottom, #FD6262 43%, #1961E8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.inventories {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 280px);
    justify-content: center;
    height: 88%;
    overflow-y: auto;
    align-items: start;
    justify-items: center;
    padding-top: 2%;
    gap: 25px;
}

.user-inv-name {
    font-weight: 100;
    font-size: 40px;
}

.add-inv {
    background: rgba(0, 188, 28, 0.7);
    border: none;
    padding: 0;
    margin: 0;
    color: white;
    font-size: 14px;
    height: 42px;
    width: 120px; 
    border-radius: 5px;
}

.add-inv:hover {
    background: rgba(0, 188, 28, 0.9);
    cursor: pointer;
}