.sign-up-page {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 166, 0, 0.77);
    padding-top: 20px;
    gap: 45px;
    color: rgba(0, 0, 0, 0.69);
}

.sign-up-box {
    margin-bottom: 15px;
}

.sign-up {
    font-size: 60px;
    color: rgba(0, 0, 0, 0.69);
}

.input {
    height: 60px;
    width: 500px;
    border-radius: 30px;
    border-style: none;
    font-size: 25px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.69);
    padding-left: 11px;
}

.above-inp {
    font-size: 29px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.69);
}

.opt-login {
    font-weight: 400;
    font-size: 10px;
}

.cancel-create-box {
    display: flex;
    gap: 70px;
    font-size: 28px;
    margin-top: 20px;
}

.cancel {
    color: rgba(0, 0, 0, 0.69);
    text-decoration: none;
}

.create {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: rgba(25, 97, 232, 1);
    font-size: inherit;
}

.create:hover {
    cursor: pointer;
}

.link {
    color: rgba(0, 0, 0, 0.69);
    text-decoration: none;
}