.my-item-card {
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 350px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .10);  
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.30);
}

.my-item-card:hover {
    background-color: rgba(36, 36, 36, 0.115);
    cursor: pointer;
    height: 453px;
    width: 353px;
}

.item-color {
    height: 5%;
    width: 100%;
}

.my-item-head-high {
    background-color: rgba(25, 97, 232, .70);
    border-radius: 50px;
    height: 30px;
    width: 30px;
}

.my-item-head-med {
    background-color: rgba(253, 98, 98, .80);
     border-radius: 50px;
    height: 30px;
    width: 30px;
}

.my-item-head-low {
    background-color: rgba(255, 196, 86, 0.90);
    border-radius: 50px;
    height: 30px;
    width: 30px;
}

.my-item-head-always {
    background-color: rgba(0, 188, 28, .60);
    border-radius: 50px;
    height: 30px;
    width: 30px;
}

.my-item-name {
    font-size: 22px;
    color: rgba(61, 61, 61, 0.7);
}

.my-item-body {
    background-color: rgba(65, 65, 65, 0.115);
    border-top: none;
    height: 50%;
    display: flex;
    flex-direction: column;

}

.my-item-descr {
    font-weight: 100;
    font-size: 16px;
    width: 90%;
    text-align: center;
    color: rgba(61, 61, 61, 0.9);
}

.description-section {
    display: flex;
    height: 25%;
    justify-content: center;
}

.amount-section {
    display: flex;
    gap: 14px;
}

.add-func {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.amount {
    color: rgba(61, 61, 61, 0.7);
    font-size: 20px;
}

#count {
    border: none;
    background-color: transparent;
    font-size: 20px;
}

#count:hover {
    cursor: pointer;
    color: blue;
}

.item-delete-edit {
    display: flex;
    gap: 30px;
}

.item-trash {
    height: 20px;
    color: rgba(61, 61, 61, 0.7);
}

.item-trash:hover {
    cursor: pointer;
    color: blue;
}

.item-edit {
    height: 20px;
    color: rgba(61, 61, 61, 0.7); 
}

.item-edit:hover {
    cursor: pointer;
    color: blue;
}

.add {
    height: 13px;
    width: 13px;
    color: rgba(61, 61, 61, 0.7);
}

.minus {
    height: 13px;
    width: 13px;
    color: rgba(61, 61, 61, 0.7);
}

.item-img-place {
    display: flex;
    height: 50%;
    width: 100;
    align-items: center;
    justify-content: center;
}

.item-img {
    height: 95%;
    width: 95%;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
}


.name-amount {
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.delete-color {
    height: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}