.my-inv-card {
    display: flex;
    flex-direction: column;
    height: 295px;
    width: 300px;
    border-radius: 10px;
    background-color: rgba(253, 98, 98, .90);
}

.my-inv-card:hover {
    cursor: pointer;
    height: 299px;
    width: 305px;
}

.my-inv-head {
    display: flex;
    height: 12.5%;
    
}

.my-inv-name {
    font-size: 19px;
}

.my-inv-body {
    border-top: none;
    height: 12.5%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.my-inv-descr {
    padding: 20px;
    font-weight: 100;
    font-size: 16px;
    text-align: center;
}

.delete-edit {
    display: flex;
    justify-content: end;
    padding-right: 10px;
    padding-bottom: 10px;
    gap: 20px;
}

.trash {
    height: 13px;
    color: rgb(0, 0, 0);
}

.trash:hover {
    cursor: pointer;
    color: rgb(97, 97, 97);
}

.edit {
    height: 13px;
    color: rgb(0, 0, 0); 
}

.edit:hover {
    cursor: pointer;
    color: rgb(97, 97, 97);
}